VITE_SUPABASE_URL=https://tvbhfuvhbaaqrqydqsgi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2YmhmdXZoYmFhcXJxeWRxc2dpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NDE2NTUsImV4cCI6MjA4OTQxNzY1NX0.cKFFdfiBiQQOXI48BhqNHNxvveFAg5G2V8r41GfDYyo
